/*!
 * PLR Style
 */
.navbar {
    min-height: 80px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #3cc300;
}

html {
    min-height: 100%;
}

body {
    /*background-color:  #e6ffee;*/
    background-color: whitesmoke;
    min-height: 100%;
    margin-bottom: 50px;
    clear: both;
}

.plr-bold {
    font-weight: bold;
}

.plr-tab {
    background-color : #dbffcc;
}

.plr-logo {
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.plr-logo-nome {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.plr-logo-img {
    border:2px solid white;
    height: 70px;
    width: 70px;
    border-radius: 100%;
}
.plr-nav {
    background-color:   #003cbe;
}

.plr-footer {
  position : fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #003cbe;
  color: white;
  text-align: center;
}

.plr-navside {
    border-top-right-radius: 5px;
}