/*!
 * PLR Style
 */

.plr-h4 {
    background-color:    #99ff99;
}

.plr-h5 {
    background-color:  #b3d1ff;
}

.plr-bold {
    font-weight: bold;
}

.plr-result-font {
    font-size: 20px;
    display: inline-block; 
    color: green;
}

.plr-result-circle
    {
    margin-left: 12px;
    width:90px;
    height:90px;
    border-radius:45px;
    font-size:20px;
    color: white;
    line-height:90px;
    text-align:center;
    background: #b3d1ff;
}

.plr-nav {
    background-color: aliceblue;
}

.plr-footer {
   width: 100%;
   background-color: aliceblue;
   font-weight: bold;
   color: black;
   text-align: center;
}