<!DOCTYPE html>
<html>
<head>
	   <title>Metas</title>
	   <meta charset="utf-8">
</head>
<body>
		<!-- Identificação -->
		<div class="row">
		<div class="col-md-12 mt-2">
			<div class="card border-primary bg-light mb-2">
				<div class="card-header border-primary text-muted">Identificação</div>
					<!-- Inicio Body de Identificação-->
					<div class="card-body">
						<form>
							<div class="form-row">
								<div class="form-group col-md-2">
									<label class="plr-bold" for="matricula" title="Matricula">Matrícula: </label>
									<input type="text" id="matricula" maxlength="8" class="form-control" placeholder="Matrícula" onchange="metasController.getColaborador(this.value)" />							  
								</div>
								<div class="form-group col-md-3">
									<label class="plr-bold" for="nome" title="Nome">
											Nome:
									</label>
									<input type="text" id="nome" maxlength="32" class="form-control" readonly />
								</div>
								<div class="form-group col-md-3">
										<label class="plr-bold" for="cargo" title="cargo">
												Cargo:
										</label>
										<input type="text" id="cargo" maxlength="32" class="form-control" readonly />
								</div>
								<div class="form-group col-md-3">
										<label class="plr-bold" for="diretoria" title="diretoria">
												Diretoria:
										</label>
										<input type="text" id="diretoria" maxlength="64" class="form-control" readonly>
								</div>
							</div>
						</form>
					<!-- Fim do Body de Identificação-->
					</div>
			</div>
		</div>
		</div> <!-- Fim Row -->
		
		<!-- Metas Gerais -->	
		<div class="row">
		<div class="col-md-12">
			<div class="card border-primary bg-light mb-2">
				<div class="card-header border-primary text-muted">Metas Gerais</div>
				<div class="card-body">
					<form>
						<!-- EBITDA-->
						<h6 class="card-subtitle text-muted">EBITDA Anual</h6>
						<hr>
						<div class="form-row mb-2">
							<div class="col-md-2">
								<div class="form-group">
									<label class="plr-bold" for="valMetaGeral" title="Meta Geral">Valor:</label>
									<div class="input-group">
											<div class="input-group-prepend">
													<span class="input-group-text" id="money-addon">R$</span>
											</div>
											<input type="number" 
													id="valMetaGeral"
													min="0.00" 
													class="form-control" 
													placeholder="0.00" 
													aria-describedby="money-addon"/>	
									</div>	
								</div>
							</div>
							<div class="col-md-2">
									<div class="form-group">
										<label class="plr-bold" for="bonusEbitda" title="Bonus">
										Bônus:
										</label>
										<div class="input-group">
										   <input type="number" id="bonusEbitda" 
											  class="form-control" placeholder="0" min="0" max="100"
											  aria-describedby="percent-addon" 
											  onchange="metasController.calculaBonus(this.id)" />
											<div class="input-group-prepend">
													<span class="input-group-text" id="percent-addon">%</span>
											</div>
										</div>
									</div>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label class="plr-bold" for="obsBonusEbitda" title="Observações">
										Observações:
									</label>
										<textarea id="obsBonusEbitda" class="form-control" 
												  maxlength="1024" rows="3" placeholder="Observações"></textarea>
								</div>
							</div>				
						</div>
						
						<!-- Metas Individuais -->
						<h6 class="card-subtitle text-muted">Metas Individuais</h6>
						<hr>
						<div class="form-row mb-2">
							<div class="col-md-2">
								<div class="form-group">
									<label class="plr-bold" for="valMetaIndiv" title="Bonus">
											Bônus:
									</label>
									<div class="input-group">
										<input type="number" id="valMetaIndiv" class="form-control" 
											   placeholder="0" min="0" max="100" aria-describedby="percent-addon" 
											   onchange="metasController.calculaBonus(this.id)" />
										<div class="input-group-prepend">
												<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<div class="form-group">
									<label class="plr-bold" for="obsMetaIndiv" title="Observações">
											Observações:
									</label>
									<textarea id="obsMetaIndiv" class="form-control" 
										maxlength="1024" rows="3" placeholder="Observações"></textarea>
								</div>
							</div>
						</div>

						<!--Participação da Área -->
						<h6 class="card-subtitle text-muted">Participação e Desempenho da Área</h6>
						<hr>
						<div class="form-row mb-2">
							<!-- Aguardando confirmação para ser descartado.
							<div class="col-md-2">
								<div class="form-group">
									<label class="plr-bold" for="valMargemDeriv" title="Margem de Contribuição">
										Valor:
									</label>
									<div class="input-group">
										<div class="input-group-prepend">
												<span class="input-group-text" id="money-addon">R$</span>
										</div>

										<input type="number" 
											   id="valMargemDeriv" 
											   class="form-control" 
											   placeholder="0.00" 
											   aria-describedby="money-addon"/>		
									</div>
								</div>
							</div>
							-->
							
							<div class="col-md-2">
								<div class="form-group">
									<label class="plr-bold" for="bonusMargem" title="Bonus">
												Bônus:
									</label>
									<div class="input-group">
										<input type="number" id="bonusMargem" 
															 class="form-control" min="0" max="100" placeholder="0"
															 aria-describedby="percent-addon" 
															 onchange="metasController.calculaBonus(this.id)" />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-10">
								<div class="form-group">
										<label class="plr-bold" for="obsMetaContri" title="Observações">
												Observações:
										</label>
										<textarea id="obsMetaContri" class="form-control" 
											maxlength="1024" rows="3" placeholder="Observações"></textarea>
								</div>
							</div>
						</div>

						<!-- Performance do Avaliado-->
						<h6 class="card-subtitle text-muted">Performance do Avaliado</h6>
						<hr>
						<div class="form-row mb-2">
							<!-- Aguardando confirmação para ser descartado.
							<div class="col-md-2">
								<div class="form-group">
									<label class="plr-bold" for="valPerformance" title="Valor da Performance">
											Valor:
										</label>
										<div class="input-group">
											<div class="input-group-prepend">
												<span class="input-group-text" id="money-addon">R$</span>
											</div>
											<input type="number" 
													id="valPerformance" 
													class="form-control" 
													placeholder="0.00" 
													aria-describedby="money-addon"/>		
										</div>
								</div>
							</div>
						    -->
							<div class="col-md-2">
								<div class="form-group">
										<label class="plr-bold" for="bonusPerformance" title="Bonus">
												Bônus:
										</label>
										<div class="input-group">
											<input type="number" id="bonusPerformance" 
													class="form-control" placeholder="0" min="0" max="100"
													aria-describedby="percent-addon" 
													onchange="metasController.calculaBonus(this.id)" />
													<div class="input-group-prepend">
															<span class="input-group-text" id="percent-addon">%</span>
													</div>
										</div>
								</div>
							</div>
							<div class="col-md-10">
								<div class="form-group">
										<label class="plr-bold" for="obsPerformance" title="Observações">
												Observações:
										</label>
										<textarea id="obsPerformance" class="form-control" 
											maxlength="1024" rows="3" placeholder="Observações"></textarea>
								</div>
							</div>
						</div>
						
					</form>
					<!-- Fim do Card Body -->
				</div>	
			<!-- FIM CARD  METAS GERAIS-->
			</div>
		</div>
		</div> <!-- Fim Row -->

		<!-- Metas Quantitativas-->
		<div class="row">
		<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas Quantitativas</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaQuantitativa"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
		<!-- Fim Metas Quantitativas-->
		</div>
		</div> <!-- Fim Row -->

		<!--Metas de Projeto -->
		<div class="row">
		<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas de Projetos</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaProjeto"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
		<!-- Fim Metas de Projetos-->
		</div>
		</div> <!-- Fim Row -->

		<!-- Resultados -->
		<div class="row">
			<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
						<div class="card-header border-primary text-muted">Resultados</div>
						<!-- Inicio Body de Resultados-->
						<div class="card-body">
							<div id="jsGridResultados"></div>
						<!-- Fim Card Body-->
						</div>
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12 mb-2">
					<button type="button" class="btn btn-success" onclick="metasController.salvar()">Salvar</button>
					<button type="button" class="btn btn-primary">Exportar</button>
					<button type="button" class="btn btn-danger">Cancelar</button>
			</div>
		</div>
</body>
</html>