<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
	   <meta charset="utf-8">
</head>
<body>
    
    <div class="row">
        <div class="col-md-auto mt-2">
            <div class="nav nav-pills plr-navside" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="minhasMetasTab" data-toggle="pill" href="#minhasMetas" role="tab" aria-controls="minhasMetas" aria-selected="true">Minhas Metas</a>
                <a class="nav-link" id="meusCadastrosTab" data-toggle="pill" href="#meusCadastros" role="tab" aria-controls="meusCadastros" aria-selected="false">Meus Cadastros</a>
            </div>
        </div>
        <div class="col-md-12 mt-2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="minhasMetas" role="tabpanel" aria-labelledby="minhasMetasTab">
                    <div style="overflow: auto;" >
                        <div id="jsGridMetasRegistrado"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="meusCadastros" role="tabpanel" aria-labelledby="meusCadastrosTab">
                    <div style="overflow: auto;" >
                        <div id="jsGridMetasPertencente"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modalLoading">
            <h5 style="text-align: center;vertical-align: middle; margin-top: 23%; font-weight: bold;">Processando a solicitação...</h5>
    </div>

</body>
</html>