<!DOCTYPE html>
<html>
<head>
	   <title>Metas</title>
	   <meta charset="utf-8">
</head>
<body>
		<!-- Identificação -->
		<div class="row">
		<div class="col-md-12 mt-2">
			<div class="card border-primary bg-light mb-2">
				<div class="card-header border-primary text-muted">Identificação</div>
					<!-- Inicio Body de Identificação-->
					<div class="card-body">
						<form>
							<!-- Dados Gerais do Colaborador -->
							<div class="form-row">
								<div class="form-group col-md-1">
									<label class="plr-bold" for="matricula" title="Matricula">Matrícula: </label>
									<input type="text" id="matricula" maxlength="8" class="form-control" placeholder="Mat." onchange="metasController.getColaborador(this.value)" />							  
								</div>
								<div class="form-group col-md-3">
									<label class="plr-bold" for="nome" title="Nome">
											Nome:
									</label>
									<input type="text" id="nome" maxlength="32" placeholder="Nome" class="form-control" readonly />
								</div>
								<div class="form-group col-md-4">
										<label class="plr-bold" for="cargo" title="cargo">
												Cargo:
										</label>
										<input type="text" id="cargo" maxlength="32" placeholder="Cargo" class="form-control" readonly />
								</div>
								<div class="form-group col-md-4">
										<label class="plr-bold" for="diretoria" title="diretoria">
												Diretoria:
										</label>
										<input type="text" id="diretoria" maxlength="64" placeholder="Diretoria" class="form-control" readonly>
								</div>
							<!-- Fim dados Gerais do Colaborador -->
							</div>
						</form>

						<!-- Metas Gerais do Colaborador-->
						<div class="form-row">
							<h6 class="card-subtitle plr-bold">Metas Gerais</h6>
						</div>
						<hr>
						<div class="form-row">
							<h6 class="card-subtitle text-muted">EBITDA Anual</h6>
							<hr>
						</div>

						<!-- EBITDA-->
						<form>
							<div class="form-row">
								<div class="col-2">
									<div class="input-group">
										<div class="input-group-prepend">
												<span class="input-group-text" id="money-addon">R$</span>
										</div>
										<input type="number" 
												id="valMetaGeral"
												min="0.00" 
												class="form-control" 
												placeholder="Valor" 
												readonly
												aria-describedby="money-addon"/>	
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusEbitda" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon" 
											onchange="metasController.calculaBonus(this.id)" readonly/>
										  <div class="input-group-prepend">
												  <span class="input-group-text" id="percent-addon">%</span>
										  </div>
									</div>
								</div>
								<div class="col-8">
									<div class="form-group">
										<textarea id="obsBonusEbitda" class="form-control" 
										maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>
									</div>	
								</div>
							</div>	
						</form>
							
						<!-- Metas Individuais -->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Metas Individuais</h6>
							<hr>
						</div>

						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="valMetaIndiv" class="form-control" 
											placeholder="Bônus" min="0" max="100" aria-describedby="percent-addon" 
											onchange="metasController.calculaBonus(this.id)" readonly/>
									 	<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
									 	</div>
									</div>
								</div>
								<div class="col-10">
									<div class="form-group">
										<textarea id="obsMetaIndiv" class="form-control" 
										          maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>
									</div>
								</div>
							</div>	
						</form>
						
						<!--Participação e Desempenho-->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Participação e Desempenho da Área</h6>
							<hr>
						</div>
						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusParticipacao" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon" readonly
											onchange="metasController.calculaBonus(this.id)" />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
								<div class="col-10">
									<div class="form-group">
											<textarea id="obsParticipacao" class="form-control" 
												maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>	
									</div>
								</div>
							</div>
						</form>

						<!-- Performance do Avaliado -->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Performance do Avaliado</h6>
							<hr>
						</div>	
						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusPerformance" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon" readonly 
											onchange="metasController.calculaBonus(this.id)" />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
								<div class="col-10">
										<div class="form-group">
												<textarea id="obsPerformance" class="form-control" 
														  maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>
										</div>
								</div>
							</div>
						</form>
					<!-- Fim do Body de Identificação-->
					</div>
				</div>
			</div>
		</div> <!-- Fim Row -->
	
		<!-- Metas Quantitativas-->
		<div class="row">
		<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas Quantitativas</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaQuantitativa"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
		<!-- Fim Metas Quantitativas-->
		</div>
		</div> <!-- Fim Row -->

		<!--Metas de Projeto -->
		<div class="row">
		<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas de Projetos</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaProjeto"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
		<!-- Fim Metas de Projetos-->
		</div>
		</div> <!-- Fim Row -->

		<!-- Resultados -->
		<div class="row">
			<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
						<div class="card-header border-primary text-muted">Resultados</div>
						<!-- Inicio Body de Resultados-->
						<div class="card-body">
							<div id="jsGridResultados"></div>
						<!-- Fim Card Body-->
						</div>
				</div>
			</div>		
		</div>
		<div class="row">
			<div class="col-md-12">
					<button type="button" class="btn btn-success btn-sm" onclick="metasController.salvar()">Salvar</button>
					<button type="button" class="btn btn-primary btn-sm">Exportar</button>
					<button type="button" class="btn btn-danger btn-sm">Cancelar</button>
			</div>
		</div>
</body>
</html>