<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
	   <meta charset="utf-8">
</head>
<body>
    <div id="idJsGridHistorico" class="row" hidden>
        <div class="col-md-12 mt-2">
                <div class="card border-primary bg-light">
                    <div class="card-header border-primary text-muted">Histórico de Cadastros</div>
                    <!-- Inicio Body de Resultados de Metas do Usuário Logado -->
                    <div class="card-body">
                        <div id="jsGridHistorico"></div>
                    <!-- Fim Card Body-->
                    </div>
            </div>
        </div>
    </div>
</body>
</html>