<!DOCTYPE html>
<html>
<head>
	   <title>Cadastro Metas</title>
	   <meta charset="utf-8">
</head>
<body>
		<!-- Identificação -->
		<div class="row">
		<div class="col-md-12 mt-2">
			<div class="card border-primary bg-light mb-2">
				<div class="card-header border-primary text-muted">Identificação</div>
					<!-- Inicio Body de Identificação-->
					<div class="card-body">
						<form>
							<!-- Dados Gerais do Colaborador -->
							<div class="form-row">
								<div class="form-group col-md-1">
									<label class="plr-bold" for="matricula" title="Matricula">Matrícula: </label>
									<input type="text" id="matriculaMeta" maxlength="8" class="form-control" placeholder="Mat." onchange="metasController.getColaborador(this.value)" />							  
								</div>
								<div class="form-group col-md-4">
									<label class="plr-bold" for="nome" title="Nome">
											Nome:
									</label>
									<input type="text" id="nomeMeta" maxlength="32" placeholder="Nome" class="form-control" readonly />
								</div>
								<div class="form-group col-md-4">
										<label class="plr-bold" for="cargo" title="cargo">
												Cargo:
										</label>
										<input type="text" id="cargoMeta" maxlength="32" placeholder="Cargo" class="form-control" readonly />
								</div>
								<div class="form-group col-md-3">
										<label class="plr-bold" for="diretoria" title="diretoria">
												Diretoria:
										</label>
										<input type="text" id="diretoriaMeta" maxlength="64" placeholder="Diretoria" class="form-control" readonly>
								</div>
							<!-- Fim dados Gerais do Colaborador -->
							</div>
						</form>

						<!-- Metas Gerais do Colaborador-->
						<div class="form-row">
							<h6 class="card-subtitle plr-bold">Metas Gerais</h6>
						</div>
						<hr>
						<div class="form-row">
							<h6 class="card-subtitle text-muted">EBITDA Anual</h6>
							<hr>
						</div>

						<!-- EBITDA-->
						<form>
							<div class="form-row">
								<div class="col-2">
									<div class="input-group">
										<div class="input-group-prepend">
												<span class="input-group-text" id="money-addon">R$</span>
										</div>
										<input type="number" 
												id="valMetaGeralMeta"
												min="0.00" 
												readonly
												class="form-control" 
												placeholder="Valor" 
												aria-describedby="money-addon"/>	
									</div>
								</div>
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusEbitdaMeta" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon"
											readonly />
										  <div class="input-group-prepend">
												  <span class="input-group-text" id="percent-addon">%</span>
										  </div>
									</div>
								</div>
								<div class="col-8">
									<div class="form-group">
										<textarea id="obsBonusEbitdaMeta" class="form-control" 
										maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>
									</div>	
								</div>
							</div>	
						</form>
							
						<!-- Metas Individuais -->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Metas Individuais</h6>
							<hr>
						</div>

						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusIndivMeta" class="form-control" 
											placeholder="Bônus" min="0" max="100" aria-describedby="percent-addon" readonly 
											/>
									 	<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
									 	</div>
									</div>
								</div>
								<div class="col-10">
									<div class="form-group">
										<textarea id="obsMetaIndivMeta" class="form-control" 
										          maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>
									</div>
								</div>
							</div>	
						</form>
						
						<!--Participação e Desempenho-->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Participação e Desempenho da Área</h6>
							<hr>
						</div>
						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusParticipacaoMeta" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon"
											readonly
											 />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
								<div class="col-10">
									<div class="form-group">
											<textarea id="obsParticipacaoMeta" class="form-control" 
												maxlength="1024" rows="1" placeholder="Observações" readonly></textarea>	
									</div>
								</div>
							</div>
						</form>

						<!-- Performance do Avaliado -->
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Performance do Avaliado</h6>
							<hr>
						</div>	
						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusPerformanceMeta" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon"
											readonly />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
								<div class="col-10">
										<div class="form-group">
												<textarea id="obsPerformanceMeta" class="form-control" readonly 
														  maxlength="1024" rows="1" placeholder="Observações"></textarea>
										</div>
								</div>
							</div>
						</form>

						<!-- Meta Extra -->
					 <div id="blocoMetaExtra" hidden>
						<div class="form-row">
							<h6 class="card-subtitle text-muted">Meta Extra</h6>
							<hr>
						</div>	
						<form>
							<div class="row">
								<div class="col-2">
									<div class="input-group">
										<input type="number" id="bonusMetaExtra" 
											class="form-control" placeholder="Bônus" min="0" max="100"
											aria-describedby="percent-addon"
											readonly />
										<div class="input-group-prepend">
											<span class="input-group-text" id="percent-addon">%</span>
										</div>
									</div>
								</div>
								<div class="col-10">
										<div class="form-group">
												<textarea id="obsMetaExtra" class="form-control" readonly 
														  maxlength="1024" rows="1" placeholder="Observações"></textarea>
										</div>
								</div>
							</div>
						</form>
					<div>
					<!-- Fim do Body de Identificação-->
					</div>
				</div>
			</div>
		</div> <!-- Fim Row -->
	
		<!-- Metas Quantitativas-->
		<div class="row">
		<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas Quantitativas</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaQuantitativa"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
		<!-- Fim Metas Quantitativas-->
		</div>
		</div> <!-- Fim Row -->

		<!--Metas de Projeto -->
		<div class="row">
			<div class="col-md-12  mb-2">
				<div class="card border-primary bg-light">
					<div class="card-header border-primary text-muted">Metas de Projetos</div>
						<!-- Inicio Body de Metas Quantitativas-->
						<div class="card-body">
								<div id="jsGridMetaProjeto"></div>
						<!-- Fim Card Body-->
						</div>
					</div>
			<!-- Fim Metas de Projetos-->
			</div>
		</div> <!-- Fim Row -->

		<!-- Versões-->
		<div id="dialogVersao" title="Criar Versão">
				<div class="row">
						<div class="col-md-6 mt-2">
								<label for="inicioVigencia" title="Início da Vigência">Início da Vigência:</label>
								<div class="input-group">
									<input id="idInicioVigencia" type="date" placeholder = "Início" class="form-control"/>
								</div>
						</div> 
						<div class="col-md-6 mt-2">
								<label for="fimVigencia" title="Início da Vigência">Fim da Vigência:</label>
								<div class="input-group">
									<input id="idFimVigencia" type="date" placeholder = "Fim" class="form-control"/>
								</div>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12 mt-2">
								<label for="comentario" title="Comentário">Comentário:</label>
								<div class="input-group">
									<textarea id="idComentarioVersao" placeholder = "Comentário" rows="1"  class="form-control" maxlength="2048"></textarea>
								</div>
							</div>
				</div>
				<div class="row">
						<div class="col-md-3 mt-4">
								<div class="btn-group btn-group-toggle" data-toggle="buttons">
										<label class="btn btn-secondary active" title="Meta Ativa">
										  <input type="radio" name="options" id="idAtivo" autocomplete="off" checked>Ativo
										</label>
										<label class="btn btn-secondary" title="Meta Inativa">
										  <input type="radio" name="options" id="idInativo" autocomplete="off">Inativo
										</label>
								</div>		
						</div>
				</div>
				<hr>
				<div class="row">
						<div class="col-md-auto mt-2">
								<button id="btnCriarVersaoConfirm" class="btn btn-success btn-sm" onclick="metasController.validateDialogVersao()">Salvar</button>
								<button id="btnCancelarVersao" class="btn btn-danger btn-sm" onclick="metasController.closeDialogVersao()">Cancelar</button> 
						</div>
				</div>
		</div>

		<!-- Dialog Metas Mensais -->
		<div id="dialogMetaMensal" title="Metas Mensais">
			<div class="row">
				<div class="col-md-2 mt-2">
					<label for="meta" title="Meta">Meta:</label>
					<div class="input-group">
						<input id="idMetaMensal" type="number" placeholder = "Meta" class="form-control" readonly/>
					</div>
				</div>
				<div class="col-md-5 mt-2">
						<label for="tipoMeta" title="Tipo da Meta">Tipo da Meta:</label>
						<div class="input-group">
							<input id="idTipoMetaMensal" type="text" placeholder = "Tipo da Meta" class="form-control" readonly/>
						</div>
				</div>
				<div class="col-md-5 mt-2">
					<label for="descMeta" title="Descrição">Descrição:</label>
					<div class="input-group">
						<input id="idDescMetaMensal" type="text" placeholder = "Descrição" class="form-control" readonly/>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 mt-2">
					<div id="jsGridMetaMensal"></div>
				</div>
			</div>
			<hr>
			
			<form>
			<div class="row">
				<div class="col-md-3">
					<h5>Planejado:</h5>
				</div>			
				<div class="col-md-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="sum-addon">Σ</span>
						</div>
						<input id="idMetaMensalSomaPlan" type="number" placeholder = "Acumulado" class="form-control" aria-describedby="sum-addon" readonly/>
					</div>
				</div>
				<div class="col-md-5">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="avg-addon">AVG</span>
							</div>
							<input id="idMetaMensalMediaPlan" type="number" placeholder = "Media" class="form-control" aria-describedby="avg-addon" readonly/>
						</div>
				</div>
			</div>
			</form>
			<hr>
			
			<form>
			<div class="row">
				<div class="col-md-3">
					<h5 title="Realizado">Realizado:</h5>
				</div>
				<div class="col-md-4">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="sum-addon">Σ</span>
						</div>
						<input id="idMetaMensalRealizadoSoma" type="number" placeholder = "Acumulado" class="form-control" aria-describedby="sum-addon" readonly/>
					</div>
				</div>
				<div class="col-md-5">
					<div class="input-group">
						<div class="input-group-prepend">
							<span class="input-group-text" id="avg-addon">AVG</span>
						</div>
						<input id="idMetaMensalRealizadoMedia" type="number" placeholder = "Media" class="form-control" aria-describedby="avg-addon" readonly/>
					</div>
				</div>
			</div>
		</form>
			<hr>
			<div class="row">
				<div class="col-md-auto mt-2">
					<button id="btnSalvarMetaMensal" class="btn btn-success btn-sm" title="Salvar metas mensais" onclick="metasController.saveMetasMensais()">Salvar</button>
					<button id="btnCancelarMetaMensal" class="btn btn-secondary btn-sm" title="Sair da edição de metas mensais" onclick="metasController.confirmDialogMetasMensais()">Sair</button> 
				</div>
			</div>
		</div>
		<!-- Fecha Dialog Mensais -->

		<div id="dialogMetaMensalCancelar" title="Confirmar">
			<div class="row">
				<div class="col-md-auto">
					<p>Deseja salvar suas alterações?</p>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-auto">
						<button id="btnSalvarMetaMensalCancelar" class="btn btn-success btn-sm" title="Salvar metas mensais" onclick="metasController.saveMetasMensais()">Salvar</button>
						<button id="btnCancelarMetaMensalCancelar" class="btn btn-secondary btn-sm" title="Sair de editor de metas mensais" onclick="metasController.closeDialogMetasMensais()">Sair</button> 
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-12">
					<button id="btnSave" type="button" class="btn btn-success btn-sm" title="Criar versão desta folha de meta." onclick="metasController.openDialogVersao()">Criar Versão</button>
					<button id="btnExport" type="button" class="btn btn-primary btn-sm" title="Exportar esta versão" onclick="metasController.exportar()">Exportar</button>
					<button id="btnExport" type="button" class="btn btn-secondary btn-sm" title="Editar meta deste colaborador" onclick="metasController.editColaborador()">Editar</button>
			</div>
		</div>	
</body>
</html>