<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
	   <meta charset="utf-8">
</head>
<body>
    
    <div class="row">
        <div class="col-md-2 mt-2" style="margin-left : -15px;">
            <div class="nav flex-column nav-pills plr-navside" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="minhasMetasTab" data-toggle="pill" href="#minhasMetas" role="tab" aria-controls="minhasMetas" aria-selected="true">Minhas Metas</a>
                <a class="nav-link" id="meusCadastrosTab" data-toggle="pill" href="#meusCadastros" role="tab" aria-controls="meusCadastros" aria-selected="false">Meus Cadastros</a>
            </div>
        </div>
        <div class="col-md-10 mt-2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="minhasMetas" role="tabpanel" aria-labelledby="minhasMetasTab">
                    <div style="overflow: auto;" >
                        <div id="jsGridHistoricoPertencente"></div>
                    </div>
                </div>

                <div class="tab-pane fade" id="meusCadastros" role="tabpanel" aria-labelledby="meusCadastrosTab">
                    <div class="plr-navside" style="overflow: auto;" >
                        <div id="jsGridHistoricoRegistrado"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>