<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
       <meta charset="utf-8">
</head>
<body>
    
    <div class="row">
        <div class="col-md-auto mt-2">
            <div class="nav nav-pills plr-navside" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="configMetasPeriodoTab" data-toggle="pill" href="#configuracoes" role="tab" aria-controls="configMetasPeriodo" aria-selected="true">Indicadores x Período</a>
            </div>
        </div>
        
        <div id="configMetasPeriodoTabContent" class="col-md-12 mt-2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="configMetasPeriodo" role="tabpanel" aria-labelledby="configMetasPeriodoTab">

                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light mb-2">
                                <div class="card-header border-primary text-muted">Cardápio de Indicadores x Período</div>
                                <div class="card-body">
                                    <div id="jsGridMetasPeriodo"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

</body>
</html>