<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
       <meta charset="utf-8">
</head>
<body>
    
    <div class="row">
        <div class="col-md-auto mt-2">
            <div class="nav nav-pills plr-navside" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="colaboradoresTab" data-toggle="pill" href="#cadastroColaborador" role="tab" aria-controls="cadastroColaborador" aria-selected="true">Colaboradores</a>
                <a class="nav-link" id="metasTab" data-toggle="pill" href="#cadastroMeta" role="tab" aria-controls="cadastroMeta" aria-selected="false">Cardápio de Metas</a>
                <a class="nav-link" id="itemMetasTab" data-toggle="pill" href="#cadastroItemMeta" role="tab" aria-controls="cadastroItemMeta" aria-selected="false">Itens de Metas</a>
            </div>
        </div>
        
        <div class="col-md-12 mt-2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="cadastroColaborador" role="tabpanel" aria-labelledby="colaboradoresTab">
                    
                    <!-- Inicia Pesquisa Colaborador -->
		            <div class="row">
                        <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="matricula" title="Matrícula">Matrícula: </label>
                                        <input type="text" id="matricula" maxlength="8" class="form-control" placeholder="Mat."/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="colaborador" title="Colaborador">Colaborador: </label>
                                        <input type="text" id="colaborador" maxlength="32" class="form-control" placeholder="Nome"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="cargo" title="Cargo">Cargo: </label>
                                        <input type="text" id="cargo" maxlength="32" class="form-control" placeholder="Cargo"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="diretoria" title="Diretoria">Diretoria: </label>
                                        <input type="text" id="diretoria" maxlength="32" class="form-control" placeholder="Diretoria"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="time" title="Time">Time: </label>
                                        <input type="text" id="time" maxlength="32" class="form-control" placeholder="Time"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="situacao" title="Situação">Status: </label>
                                        <select id="situacao" maxlength="8" class="form-control">
                                                <option value=""></option>
                                                <option value="A">Ativo</option>
                                                <option value="I">Inativo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                            <a type="button" id="btnPesquisar" class="btn btn-sm  btn-sm mt-4" title="Pesquisar" onclick="colaboradorController.pesquisarColaborador()">
                                                <i class="fas fa-search plr-search-button"></i>
                                            </a>
                                            <a type="button" id="btnNovo" class="btn btn-sm mt-4 ml-2" title="Novo" onclick="colaboradorController.cadastrarColaborador()">
                                                <i class="fas fa-plus plr-search-button"></i>
                                            </a>
                                    </div>
                                </div>
                     </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="card border-primary bg-light mb-2">
                            <div class="card-header border-primary text-muted">Colaboradores</div>
                                <div class="card-body">
                                    <div id="jsGridPesquisaColaborador"></div>
                                </div>
                            </div>
                    </div>
                </div>
            </div> <!--Fecha Tab.Pane Colabo -->

            <div class="tab-pane fade" id="cadastroMeta" role="tabpanel" aria-labelledby="metasTab">
                   
                <!-- Inicia Pesquisa Metas -->
		        <div class="row">
                        <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                        <label class="plr-bold" for="nomeMeta" title="Matrícula">Descrição da Meta: </label>
                                        <input type="text" id="nomeMeta" maxlength="256" class="form-control" placeholder="Nome"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="tipoMeta" title="Tipo de Meta">Tipo de Meta: </label>
                                        <input type="text" id="tipoMeta" maxlength="32" class="form-control" placeholder="Tipo"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="frequenciaMedicao" title="Frequência de Medição">Frequência: </label>
                                        <input type="text" id="frequenciaMedicao" maxlength="32" class="form-control" placeholder="Frequência"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="tipoMedicao" title="Tipo de Medição">Tipo de Medição: </label>
                                        <input type="text" id="tipoMedicao" maxlength="32" class="form-control" placeholder="Tipo"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="formulaMeta" title="Formula">Fórmula: </label>
                                        <input type="text" id="formulaMeta" maxlength="32" class="form-control" placeholder="Formula"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="situacaoMeta" title="Situação">Status: </label>
                                        <select id="situacaoMeta" class="form-control">
                                                <option value=""></option>
                                                <option value="A">Ativo</option>
                                                <option value="I">Inativo</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                            <a type="button" id="btnPesquisarMeta" class="btn btn-sm plr-search-button mt-4" title="Pesquisar" onclick="cardapioMetasController.pesquisarMeta()">
                                                <i class="fas fa-search"></i>
                                            </a>
                                            <a type="button" id="btnNovaMeta" class="btn btn-sm mt-4 plr-search-button ml-2" title="Novo" onclick="cardapioMetasController.cadastrarMeta()">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                    </div>
                                </div>
                     </div>
                </div>

                <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light mb-2">
                                <div class="card-header border-primary text-muted">Metas</div>
                                    <div class="card-body">
                                        <div id="jsGridPesquisaMetas"></div>
                                    </div>
                                </div>
                        </div>
                </div>

            </div>

            <div class="tab-pane fade" id="cadastroItemMeta" role="tabpanel" aria-labelledby="itemMetasTab">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <label class="plr-bold" for="matriculaItemPesquisa" title="Matrícula">Matrícula: </label>
                                    <input type="text" id="matriculaItemPesquisa" maxlength="8" class="form-control" placeholder="Mat."/>
                                </div>
                                <div class="form-group col-md-2">
                                        <label class="plr-bold" for="colaboradorItemPesquisa" title="Colaborador">Colaborador: </label>
                                        <input type="text" id="colaboradorItemPesquisa" maxlength="32" class="form-control" placeholder="Nome"/>
                                </div>
                                <div class="form-group col-md-2">
                                        <label class="plr-bold" for="responsavelItemPesquisa" title="Responsável">Responsável: </label>
                                        <input type="text" id="responsavelItemPesquisa" maxlength="32" class="form-control" placeholder="Nome"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inicioVigenciaItemPesquisa" class="plr-bold" title="Início Vigência">Início da Vigência:</label>
                                    <input type="text" id="inicioVigenciaItemPesquisa" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="fimVigenciaItemPesquisa" class="plr-bold" title="Fim Vigência">Fim da Vigência:</label>
                                    <input type="text" id="fimVigenciaItemPesquisa" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                </div>
                                <div class="form-group col-md-1">
                                        <label class="plr-bold" for="situacaoMetaItemPesquisa" title="Situação">Status: </label>
                                        <select id="situacaoMetaItemPesquisa" class="form-control">
                                                <option value=""></option>
                                                <option value="A">Ativo</option>
                                                <option value="I">Inativo</option>
                                        </select>
                                </div>
                                <div class="form-group col-md-2">
                                        <a type="button" id="btnPesquisarItemMeta" class="btn btn-sm plr-search-button mt-4" title="Pesquisar" onclick="itemMetasController.pesquisarItemMeta()">
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a type="button" id="btnNovoItemMeta" class="btn btn-sm mt-4 plr-search-button ml-2" title="Novo" onclick="">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light mb-2">
                                <div class="card-header border-primary text-muted">Item de Metas</div>
                                    <div class="card-body">
                                        <div id="jsGridPesquisaItemMetas"></div>
                                     </div>
                            </div>    
                        </div>
                    </div>
            </div>

        </div>
     </div>
   
    </div> <!--ROW CONTAINER -->

    <!-- Cadastro Colaborador -->
    <div id="modalCadastroColaborador"  title="Cadastro de Colaboradores"> 
        <div class="container" style="margin-top: 0">
            <div class="row" style="margin-top: 5px;">
                <div class="form-group col-md-2">
                    <label for="cadastoMatricula" class="plr-bold" title="Matrícula">Matrícula:</label>
                    <input type="text" id="cadastroMatricula" maxlength="32" class="form-control" style="font-size: 14px;"/>
                </div>
                <div class="form-group col-md-6">
                    <label for="cadastroNome" class="plr-bold" title="Nome do Colaborador">Nome:
                    </label>
                    <input type="text" id="cadastroNome" class="form-control"
                           maxlength="128" style="font-size: 14px;"/>
                </div>
                <div class="form-group col-md-2">
                        <label for="cadastroElegivel" class="plr-bold" title="Elegível">Elegível:</label>
                        <select id="cadastroElegivel" class="form-control" style="font-size: 14px;">
                            <option value=""></option>
                            <option value="1">Sim</option>
                            <option value="0">Não</option>
                        </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="cadastroSituacao" class="plr-bold">Status: </label>
                    <select id="cadastroSituacao" class="form-control" style="font-size: 14px;">
                        <option value="A">Ativo</option>
                        <option value="I">Inativo</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cadastroCargo" class="plr-bold">Cargo: </label>
                    <select id="cadastroCargo" class="form-control" style="font-size: 14px;">                      
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cadastroDiretoria" class="plr-bold">Diretoria: </label>
                    <select id="cadastroDiretoria" class="form-control" style="font-size: 14px;">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cadastroTime" class="plr-bold">Time: </label>
                    <select id="cadastroTime" class="form-control" style="font-size: 14px;">
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="cadastroFilial" class="plr-bold">Filial: </label>
                    <select id="cadastroFilial" class="form-control" style="font-size: 14px;">
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cadastroAdmissao" class="plr-bold" title="Data de Admissão">Admissão:</label>
                    <input type="text" id="cadastroDtAdmissao" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                </div>
                <div class="form-group col-md-3">
                    <label for="cadastroDemissao" class="plr-bold" title="Data de Demissão">Demissão:</label>
                    <input type="text" id="cadastroDtDemissao" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-auto">
                    <input type="button" value="Salvar" id="salvarCadastro" title="Salvar"  class="btn btn-sm btn-success" onclick="colaboradorController.salvarColaborador()" />
                </div>
                <div class="form-group col-md-auto">
                    <input type="button" value="Voltar" id="cancelarCadastro" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" onclick="colaboradorController.cancelarCadastroColaborador()" />
                </div>
            </div>
        </div>
    </div> <!--Cadastro Colaborador -->
    
    <!-- Cadastro Metas -->
    <div id="modalCadastroMetas"  title="Cadastro de Metas"> 
        <div class="container" style="margin-top: 0">
            <div class="row" style="margin-top: 5px;">
                <div class="form-group col-md-8">
                    <label for="cadastroNomeMeta" class="plr-bold" title="Descrição da Meta">Descrição:</label>
                    <input type="text" id="cadastroNomeMeta" maxlength="256" class="form-control" style="font-size: 14px;"/>
                </div>            
                <div class="form-group col-md-4">
                    <label for="cadastroTipoMedicao" class="plr-bold" title="Tipo de Medição">Medição: </label>
                    <select id="cadastroTipoMedicao" class="form-control" style="font-size: 14px;">                      
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-3">
                    <label for="cadastroFormula" class="plr-bold" title="Fórmula da Meta">Fórmula: </label>
                    <select id="cadastroFormula" class="form-control" style="font-size: 14px;">                      
                    </select>
                </div>
                <div class="form-group col-md-3">
                        <label for="cadastroFrequenciaMedicao" class="plr-bold" title="Frequência de Medição">Frequência: </label>
                        <select id="cadastroFrequenciaMedicao" class="form-control" style="font-size: 14px;">                      
                        </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="cadastroPrazo" class="plr-bold" title="Prazo da Meta">Prazo:</label>
                    <input type="text" id="cadastroPrazo" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                </div>
                <div class="form-group col-md-3">
                        <label class="plr-bold" for="cadastroValorMeta" title="Valor da Meta">Valor: </label>
                        <input id="cadastroValorMeta" type="number" class="form-control" step="0.0001"/>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="cadastroTipoMeta" class="plr-bold" title="Tipo de Meta">Tipo: </label>
                    <select id="cadastroTipoMeta" class="form-control" style="font-size: 14px;">                      
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="cadastroQualidade" class="plr-bold" title="Quantitativo / Qualitativo">Quantitativo / Qualitativo: </label>
                    <select id="cadastroQualidade" class="form-control" style="font-size: 14px;">
                        <option value="0">Qualitativa</option>
                        <option value="1">Quantitativa</option>                      
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label class="plr-bold" for="cadastroSituacaoMeta" title="Situação">Status: </label>
                    <select id="cadastroSituacaoMeta" class="form-control" style="font-size: 14px;">
                        <option value="A">Ativo</option>
                        <option value="I">Inativo</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                        <label for="cadastroObservacaoMeta" class="plr-bold" title="Observações da Meta">Observações: </label>
                        <textarea id="cadastroObservacaoMeta" maxlength="2048" rows="2" style="width : 100%; resize : none;"></textarea>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-auto">
                    <input type="button" value="Salvar" id="salvarCadastroMeta" title="Salvar"  class="btn btn-sm btn-success" onclick="cardapioMetasController.salvarMeta()" />
                </div>
                <div class="form-group col-md-auto">
                    <input type="button" value="Voltar" id="voltarCadastroMeta" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" onclick="cardapioMetasController.cancelarCadastroMeta()" />
                </div>
            </div>
        </div>
    </div> <!--Cadastro Meta -->


    <div class="modalLoading">
		<h5 style="text-align: center;vertical-align: middle; margin-top: 23%; font-weight: bold;">Processando a solicitação...</h5>
    </div>
</body>
</html>
