<!DOCTYPE html>
<html>
<head>
	   <title>PLR</title>
       <meta charset="utf-8">
</head>
<body>
    
    <div class="row">
        <div class="col-md-auto mt-2">
            <div class="nav nav-pills plr-navside" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="colaboradoresTab" data-toggle="pill" href="#cadastroColaborador" role="tab" aria-controls="cadastroColaborador" aria-selected="true">Colaboradores</a>
                <a class="nav-link" id="metasTab" data-toggle="pill" href="#cadastroMeta" role="tab" aria-controls="cadastroMeta" aria-selected="false">Cardápio de Indicadores</a>
                <a class="nav-link" id="metasMensaisTab" data-toggle="pill" href="#cadastroMetaMensal" role="tab" aria-controls="cadastroMetaMensal" aria-selected="false">Metas Mensais</a>
                <a class="nav-link" id="itemMetasTab" data-toggle="pill" href="#cadastroItemMeta" role="tab" aria-controls="cadastroItemMeta" aria-selected="false">Folha de Metas</a>
            </div>
        </div>
        
        <div class="col-md-12 mt-2">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="cadastroColaborador" role="tabpanel" aria-labelledby="colaboradoresTab">
                    
                    <!-- Inicia Pesquisa Colaborador -->
		            <div class="row">
                        <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="matriculaPesquisa" title="Matrícula">Matrícula: </label>
                                        <input type="text" id="matriculaPesquisa" maxlength="8" class="form-control" placeholder="Mat."/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="colaboradorPesquisa" title="Colaborador">Colaborador: </label>
                                        <input type="text" id="colaboradorPesquisa" maxlength="32" class="form-control" placeholder="Nome"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="cargoPesquisa" title="Cargo">Cargo: </label>
                                        <input type="text" id="cargoPesquisa" maxlength="32" class="form-control" placeholder="Cargo"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="diretoriaPesquisa" title="Diretoria">Diretoria: </label>
                                        <input type="text" id="diretoriaPesquisa" maxlength="32" class="form-control" placeholder="Diretoria"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="timePesquisa" title="Time">Time: </label>
                                        <input type="text" id="timePesquisa" maxlength="32" class="form-control" placeholder="Time"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="situacaoPesquisa" title="Situação">Status: </label>
                                        <select id="situacaoPesquisa" maxlength="8" class="form-control">
                                                <option value=""></option>
                                                <option value="A">ATIVO</option>
                                                <option value="I">INATIVO</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                            <a type="button" id="btnPesquisar" class="btn btn-sm  btn-sm mt-4" title="Pesquisar" onclick="colaboradorController.pesquisarColaborador()">
                                                <i class="fas fa-search plr-search-button"></i>
                                            </a>
                                            <a type="button" id="btnNovo" class="btn btn-sm mt-4 ml-2" title="Novo" onclick="colaboradorController.cadastrarColaborador()">
                                                <i class="fas fa-plus plr-search-button"></i>
                                            </a>
                                            <a type="button" id="btnLimparPesquisaColaborador" class="btn btn-sm mt-4 ml-1" title="Limpar Filtro" onclick="colaboradorController.limparPesquisaColaborador()">
                                                <i class="fas fa-eraser plr-search-button"></i>
                                            </a>
                                    </div>
                                </div>
                     </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12 mt-2">
                        <div class="card border-primary bg-light mb-2">
                            <div class="card-header border-primary text-muted">Colaboradores</div>
                                <div class="card-body">
                                    <div id="jsGridPesquisaColaborador"></div>
                                </div>
                            </div>
                    </div>
                </div>

                <section id="idExportColaboradores">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="button" id="btnExportColaboradores" class="btn btn-sm btn-info" title="Exportar Colaboradores" value="Exportar"
                                           onclick="colaboradorController.exportColaboradores()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div> <!--Fecha Tab.Pane Colabo -->

            <div class="tab-pane fade" id="cadastroMeta" role="tabpanel" aria-labelledby="metasTab">
                   
                <!-- Inicia Pesquisa Metas -->
		        <div class="row">
                        <div class="col-md-12">
                                <div class="form-row">
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="codigoMetaPesquisa" title="Código da Meta">Cod.:</label> 
                                        <input type="number" id="codigoMetaPesquisa" class="form-control" placeholder="Código" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="plr-bold" for="nomeMeta" title="Descrição do Indicador">Descrição do Indicador: </label>
                                        <input type="text" id="nomeMeta" maxlength="256" class="form-control" placeholder="Nome"/>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="tipoMeta" title="Tipo de Indicador">Tipo de Indicador: </label>
                                        <select id="tipoMeta" class="form-control" style="font-size: 14px;"></select>                      
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="frequenciaMedicao" title="Pontuação">Pontuação: </label>
                                        <select id="frequenciaMedicao" class="form-control" style="font-size: 14px;"></select>                      
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="plr-bold" for="tipoMedicao" title="Tipo de Medição">Tipo de Medição: </label>
                                        <select id="tipoMedicao" class="form-control" style="font-size: 14px;"></select>                      
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="formulaMeta" title="Formula">Fórmula: </label>
                                        <select id="formulaMeta" class="form-control" style="font-size: 14px;"></select>                      
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label class="plr-bold" for="situacaoMeta" title="Situação">Status: </label>
                                        <select id="situacaoMeta" class="form-control">
                                                <option value=""></option>
                                                <option value="A">ATIVO</option>
                                                <option value="I">INATIVO</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                            <a type="button" id="btnPesquisarMeta" class="btn btn-sm plr-search-button mt-4" title="Pesquisar" onclick="cardapioMetasController.pesquisarMeta()">
                                                <i class="fas fa-search"></i>
                                            </a>
                                            <a type="button" id="btnNovaMeta" class="btn btn-sm mt-4 plr-search-button ml-1" title="Novo" onclick="cardapioMetasController.cadastrarMeta()">
                                                <i class="fas fa-plus"></i>
                                            </a>
                                            <a type="button" id="btnLimpaPesquisaMeta" class="btn btn-sm mt-4 plr-search-broom ml-1" title="Limpar Filtro" onclick="cardapioMetasController.limparPesquisaMeta()">
                                                <i class="fas fa-eraser"></i>
                                            </a>
                                    </div>
                                </div>
                     </div>
                </div>

                <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light mb-2">
                                <div class="card-header border-primary text-muted">Metas</div>
                                    <div class="card-body">
                                        <div id="jsGridPesquisaMetas"></div>
                                    </div>
                                </div>
                        </div>
                </div>

                <section id="idExportIndicadores">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="button" id="btnExportIndicadores" class="btn btn-sm btn-info" title="Exportar Indicadores do Período" value="Exportar"
                                           onclick="cardapioMetasController.exportIndicadores()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="tab-pane fade" id="cadastroMetaMensal" role="tabpanel" aria-labelledby="metasMensaisTab">
                    
                <!-- Inicia Pesquisa Metas Mensais -->                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-row">
                            <div class="form-group col-md-1">
                                <label class="plr-bold" for="codigoMetaMensal" title="Código do Indicador">Cod.: </label>
                                <input type="text" id="codigoMetaMensal" maxlength="256" class="form-control" placeholder="Código" readonly/>
                            </div>
                            <div class="form-group col-md-4">
                                    <label class="plr-bold" for="selectIndicadorMensal" title="Indicador">Indicador: </label>
                                    <select id="selectIndicadorMensal" class="form-control" data-live-search="true" 
                                            onchange="metaMensalController.findMetasMensaisForIndicador()">
                                    </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="plr-bold" for="tipoIndicadorMensal" title="Tipo de Indicador">Tipo: </label>
                                <input type="text" id="tipoIndicadorMensal" maxlength="32" class="form-control" placeholder="Tipo" readonly/>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="plr-bold" for="pontuacaoMensal" title="Pontuação">Pontuação: </label>
                                <input type="text" id="pontuacaoMensal" maxlength="32" class="form-control" placeholder="Pontuação" readonly/>
                            </div>
                            <div class="form-group col-md-2">
                                <label class="plr-bold" for="tipoMedicaoMensal" title="Tipo de Medição">Medição: </label>
                                <input type="text" id="tipoMedicaoMensal" maxlength="32" class="form-control" placeholder="Tipo" readonly/>
                            </div>
                            <div class="form-group col-md-1">
                                <label class="plr-bold" for="formulaIndicadorMensal" title="Fórmula">Fórmula: </label>
                                <input type="text" id="formulaIndicadorMensal" maxlength="32" class="form-control" placeholder="Formula" readonly/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <label for="acumuladoMetaPlan" class="plr-bold" title="Acumulado Planejado">Σ Planejado: </label>
                        <input id="acumuladoMetaPlan" type="text" class="form-control" style="font-size: 14px;" readonly/>                      
                    </div>
                    <div class="form-group col-md-3">
                        <label for="acumuladoMetaReal" class="plr-bold" title="Acumulado Real">Σ Real: </label>
                        <input id="acumuladoMetaReal" type="text" class="form-control" style="font-size: 14px;" readonly/>                      
                    </div>
                </div>

                <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light">
                                <div class="card-header border-primary text-muted">Metas Mensais:</div>
                                    <div class="card-body">
                                        <label for="jsGridCadastroMetasMensais" ></label>
                                        <div style="overflow : auto;">
                                            <div id="jsGridCadastroMetasMensais"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-auto">
                            <input type="button" value="Salvar" id="salvarMetasMensais" title="Salvar" class="btn btn-sm btn-success" 
                                   onclick="metaMensalController.salvarMetasMensais()" />
                    </div>
                    <div class="col-md-auto">
                        <input type="button" value="Copiar" id="copiarMetasMensais" title="Copiar" class="btn btn-sm btn-info" style="margin-left: -12px;" 
                               onclick="metaMensalController.copiarMetasMensais()" />
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="cadastroItemMeta" role="tabpanel" aria-labelledby="itemMetasTab"> <!-- Pesquisa Metas Item -->
                <section id="idPesquisaItemMetaCompleta">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label class="plr-bold" for="matriculaItemPesquisa" title="Matrícula">Matrícula: </label>
                                    <input type="text" id="matriculaItemPesquisa" maxlength="8" class="form-control" placeholder="Mat."/>
                                </div>
                                <div class="form-group col-md-2">
                                        <label class="plr-bold" for="colaboradorItemPesquisa" title="Colaborador">Colaborador: </label>
                                        <input type="text" id="colaboradorItemPesquisa" maxlength="32" class="form-control" placeholder="Nome"/>
                                </div>
                                <div class="form-group col-md-2">
                                        <label class="plr-bold" for="responsavelItemPesquisa" title="Responsável">Responsável: </label>
                                        <input type="text" id="responsavelItemPesquisa" maxlength="32" class="form-control" placeholder="Nome"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="inicioVigenciaItemPesquisa" class="plr-bold" title="Início Vigência">Início da Vigência:</label>
                                    <input type="text" id="inicioVigenciaItemPesquisa" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                </div>
                                <div class="form-group col-md-2">
                                    <label for="fimVigenciaItemPesquisa" class="plr-bold" title="Fim Vigência">Fim da Vigência:</label>
                                    <input type="text" id="fimVigenciaItemPesquisa" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                </div>
                                <div class="form-group col-md-2">
                                        <a type="button" id="btnPesquisarItemMeta" class="btn btn-sm plr-search-button mt-4" title="Pesquisar" onclick="itemMetasController.pesquisarItemMeta()">
                                            <i class="fas fa-search"></i>
                                        </a>
                                        <a type="button" id="btnNovoItemMeta" class="btn btn-sm mt-4 plr-search-button ml-2" title="Novo" onclick="itemMetasController.cadastrarItemMeta()">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                        <a type="button" id="btnLimpaPesquisaItemMeta" class="btn btn-sm mt-4 plr-search-broom ml-2" title="Limpar Filtro" onclick="itemMetasController.limparPesquisaItemMeta()">
                                            <i class="fas fa-eraser"></i>
                                        </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 mt-2">
                            <div class="card border-primary bg-light mb-2">
                                <div class="card-header border-primary text-muted">Item de Metas</div>
                                    <div class="card-body">
                                        <div id="jsGridPesquisaItemMetas"></div>
                                     </div>
                            </div>    
                        </div>
                    </div>
                </section>
                <section id="idPesquisaItemMetaBasica">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <input type="button" id="btnNovoItemMeta" class="btn btn-sm btn-info" title="Cadastrar/Editar Folha de Metas" value="Cadastrar"
                                           onclick="itemMetasController.cadastrarItemMeta()" />
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </div>

        </div>
     </div>
   
    </div> <!--ROW CONTAINER -->

    <!-- Cadastro Colaborador -->
    <div id="modalCadastroColaborador"  title="Cadastro de Colaboradores"> 
        <div class="container-fluid" style="margin-top: 0">
            <div class="col-md-auto mt-2">
                <div class="nav nav-tabs plr-navside mb-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="colaboradorDetalhesTab" data-toggle="tab" href="#dadosColaborador" role="tab" aria-controls="dadosColaborador" aria-selected="true">Dados do Colaborador</a>
                    <a class="nav-link" id="authColaboradorTab" data-toggle="tab" href="#dadosAuthColaborador" role="tab" aria-controls="dadosAuthColaborador" aria-selected="false">Informações de Acesso</a>
                </div>
            </div>

            <div class="col-md-12">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="dadosColaborador" role="tabpanel" aria-labelledby="colaboradorDetalhesTab">                    
                        <div class="row" style="margin-top: 5px;">
                            <div class="form-group col-md-2">
                                <label for="cadastoMatricula" class="plr-bold" title="Matrícula">Matrícula:</label>
                                <input type="text" id="cadastroMatricula" maxlength="32" class="form-control" style="font-size: 14px;"/>
                            </div>
                            <div class="form-group col-md-5">
                                <label for="cadastroNome" class="plr-bold" title="Nome do Colaborador">Nome:
                                </label>
                                <input type="text" id="cadastroNome" class="form-control"
                                       maxlength="128" style="font-size: 14px;"/>
                            </div>
                            <div class="form-group col-md-3">
                                    <label for="cadastroElegivel" class="plr-bold" title="Elegível">Elegível Individual:</label>
                                    <select id="cadastroElegivel" class="form-control" style="font-size: 14px;">
                                        <option value=""></option>
                                        <option value="1">Sim</option>
                                        <option value="0">Não</option>
                                    </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cadastroSituacao" class="plr-bold">Status: </label>
                                <select id="cadastroSituacao" class="form-control" style="font-size: 14px;">
                                    <option value="A">Ativo</option>
                                    <option value="I">Inativo</option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="cadastroCargo" class="plr-bold">Cargo: </label>
                                <select id="cadastroCargo" class="form-control" style="font-size: 14px;" onchange="colaboradorController.avaliarEquivalenciaCargo()">                      
                                </select>
                                <label id="captionEquivalenciaCargo" class="plr-bold" style="font-size : 12px; font-style: italic;"></label>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cadastroDiretoria" class="plr-bold">Diretoria: </label>
                                <select id="cadastroDiretoria" class="form-control" style="font-size: 14px;">
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cadastroTime" class="plr-bold">Time: </label>
                                <select id="cadastroTime" class="form-control" style="font-size: 14px;">
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="cadastroFilial" class="plr-bold">Filial: </label>
                                <select id="cadastroFilial" class="form-control" style="font-size: 14px;">
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cadastroAdmissao" class="plr-bold" title="Data de Admissão">Admissão:</label>
                                <input type="text" id="cadastroDtAdmissao" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="cadastroDemissao" class="plr-bold" title="Data de Demissão">Demissão:</label>
                                <input type="text" id="cadastroDtDemissao" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    
                    <div class="tab-pane fade" id="dadosAuthColaborador" role="tabpanel" aria-labelledby="authColaboradorTab">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="cadastroColabPerfil" class="plr-bold">Perfil: </label>
                                <select id="cadastroColabPerfil" class="form-control" style="font-size: 14px;">
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="cadastroColabPerfilSituacao" class="plr-bold">Situação: </label>
                                <select id="cadastroColabPerfilSituacao" class="form-control" style="font-size: 14px;">
                                    <option value="A">ATIVA</option>
                                    <option value="I">INATIVA</option>
                                </select>
                            </div>
                            <div id="checkboxResetSenhaArea" class="form-group checkbox-control custom-checkbox col-md-2" 
                                 style="font-weight: bold; margin-top : 40px; margin-left : 12px;" hidden>
                                <input  id="checkboxResetSenha" type="checkbox" class="custom-control-input">
                                <label class="custom-control-label" for="checkboxResetSenha">Resetar Senha?</label>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        <div class="modal-footer">
            <div class="form-group col-md-auto">
                <input type="button" value="Salvar" id="salvarCadastro" title="Salvar"  class="btn btn-sm btn-success" onclick="colaboradorController.salvarColaborador()" />
            </div>
            <div class="form-group col-md-auto">
                <input type="button" value="Voltar" id="cancelarCadastro" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" onclick="colaboradorController.cancelarCadastroColaborador()" />
            </div>
        </div>
    </div> <!--Cadastro Colaborador -->
    
    <!-- Cadastro Metas -->
    <div id="modalCadastroMetas"  title="Cadastro de Indicadores"> 
        <div class="container-fluid" style="margin-top: 0">
            <div class="row" style="margin-top: 5px;">
                <div class="form-group col-md-2">
                    <label for="cadastroIdMeta" class="plr-bold" title="Código do Indicador">Código: </label>
                    <input id="cadastroIdMeta" type="number" class="form-control" style="font-size: 14px;" readonly/>                      
                </div>
                <div class="form-group col-md-6">
                    <label for="cadastroNomeMeta" class="plr-bold" title="Descrição do Indicador">Descrição:</label>
                    <input type="text" id="cadastroNomeMeta" maxlength="256" class="form-control" style="font-size: 14px;"/>
                </div>            
                <div class="form-group col-md-4">
                    <label for="cadastroTipoMedicao" class="plr-bold" title="Tipo de Medição">Medição: </label>
                    <select id="cadastroTipoMedicao" class="form-control" style="font-size: 14px;">                      
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="cadastroTipoMeta" class="plr-bold" title="Tipo de Meta">Tipo: </label>
                    <select id="cadastroTipoMeta" class="form-control" style="font-size: 14px;" onchange="cardapioMetasController.avaliarMetaProjeto()">                      
                    </select>
                </div>
                <div id="aprovadorRow" class="form-group col-md-4" hidden>
                    <label for="aprovadorMeta" class="plr-bold" title="Aprovador da Meta">Aprovador: </label>
                    <select id="aprovadorMeta" class="form-control" style="font-size: 14px;" data-live-search="true">                      
                    </select>
                </div>
                <div id="prazoRow" class="form-group col-md-2" hidden>
                    <label for="cadastroPrazo" class="plr-bold" title="Prazo da Meta">Prazo:</label>
                    <input type="text" id="cadastroPrazo" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                </div>
                <div class="form-group col-md-2">
                    <label for="cadastroQualidade" class="plr-bold" title="Quantitativo / Qualitativo">Quantitativo / Qualitativo: </label>
                    <select id="cadastroQualidade" class="form-control" style="font-size: 14px;">
                        <option value="1">QUANTITATIVA</option>                      
                        <option value="2">QUALITATIVA</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label class="plr-bold" for="cadastroSituacaoMeta" title="Situação">Status: </label>
                    <select id="cadastroSituacaoMeta" class="form-control" style="font-size: 14px;">
                        <option value="A">ATIVO</option>
                        <option value="I">INATIVO</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-2">
                    <label for="cadastroFormula" class="plr-bold" title="Fórmula do Indicador">Fórmula: </label>
                    <select id="cadastroFormula" class="form-control" style="font-size: 14px;" onchange="cardapioMetasController.avaliarMetaPonderada()">                      
                    </select>
                </div>
                <div class="form-group col-md-2">
                        <label for="cadastroFrequenciaMedicao" class="plr-bold" title="Frequência de Medição">Pontuação: </label>
                        <select id="cadastroFrequenciaMedicao" class="form-control" style="font-size: 14px;" onchange="cardapioMetasController.avaliarMetaPonderada()">                      
                        </select>
                </div>
                <div id="cadastroNumeradorMetaArea" class="form-group col-md-4" hidden>
                    <label for="cadastroMetaNumerador" class="plr-bold" title="Indicador Numerador">Numerador: </label>
                    <select id="cadastroMetaNumerador" class="form-control" style="font-size: 14px;" data-live-search="true">                      
                    </select>
                </div>
                <div id="cadastroDenominadorMetaArea" class="form-group col-md-4" hidden>
                    <label for="cadastroMetaDenominador" class="plr-bold" title="Indicador Denominador" data-live-search="true">Denomidador: </label>
                    <select id="cadastroMetaDenominador" class="form-control" style="font-size: 14px;" data-live-search="true">                      
                    </select>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="form-group col-md-12">
                        <label for="cadastroObservacaoMeta" class="plr-bold" title="Observações da Meta">Observações: </label>
                        <textarea id="cadastroObservacaoMeta" maxlength="2048" rows="2" style="width : 100%; resize : none;"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
                <div class="form-group checkbox-control custom-checkbox col-md-auto" style="font-weight: bold;">
                    <input  id="checkboxAtivaPeriodo" type="checkbox" class="custom-control-input" onchange="cardapioMetasController.avaliarAssociarMetaPeriodo()">
                    <label class="custom-control-label" for="checkboxAtivaPeriodo">Ativa para o período?</label>
                </div>
                <div class="form-group col-md-auto">
                    <input type="button" value="Salvar" id="salvarCadastroMeta" title="Salvar"  class="btn btn-sm btn-success" onclick="cardapioMetasController.salvarMeta()" />
                </div>
                <div class="form-group col-md-auto">
                    <input type="button" value="Voltar" id="voltarCadastroMeta" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" onclick="cardapioMetasController.cancelarCadastroMeta()" />
                </div>
        </div>
     </div> <!--Cadastro Meta -->

     <div id="modalCadastroItemMetas"  title="Cadastro de Item de Metas">  <!--Cadastro de Item de Metas-->
        <div class="container-fluid" style="margin-top: 0">
                <div class="col-md-auto mt-2">
                    <div class="nav nav-tabs plr-navside mb-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" id="folhaMetaTab" data-toggle="tab" href="#dadosFolhaMeta" role="tab" aria-controls="dadosFolhaMeta" aria-selected="true">Dados da Folha</a>
                        <a class="nav-link" id="folhaMetaItemTab" data-toggle="tab" href="#dadosFolhaMetaItem" role="tab" aria-controls="dadosFolhaMetaItem" aria-selected="false">Itens da Folha</a>
                        <a class="nav-link" id="metaMensalDetalheTab" data-toggle="tab" href="#dadosMetaMensalDetalhes" role="tab" aria-controls = "dadosMetaMensalDetalhes" aria-selected="false">Indicadores dos Itens</a>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="tab-content" id="v-pills-tabContent">
                        <div class="tab-pane fade show active" id="dadosFolhaMeta" role="tabpanel" aria-labelledby="folhaMetaTab">
                                <div class="row" style="margin-top: 5px;">
                                        <div class="form-group col-md-1">
                                            <label class="plr-bold" for="numeroFolhaMeta" title="Número da Folha">Número: </label>
                                            <input type="number" id="numeroFolhaMeta" style="font-size: 14px;" maxlength="8" class="form-control" placeholder="Num." readonly/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label class="plr-bold" for="matriculaItemCadastro" title="Matrícula">Matrícula: </label>
                                            <input type="text" id="matriculaItemCadastro" style="font-size: 14px;" maxlength="8" class="form-control" placeholder="Mat."
                                                   onchange=""/>
                                        </div>
                                        <div class="form-group col-md-5">
                                                <label class="plr-bold" for="colaboradorItemCadastro" title="Colaborador">Colaborador: </label>
                                                <input type="text" id="colaboradorItemCadastro" style="font-size: 14px;" maxlength="64" class="form-control" placeholder="Nome"
                                                   onchange=""/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="inicioVigenciaItemCadastro" class="plr-bold" title="Início Vigência">Início da Vigência:</label>
                                            <input type="text" id="inicioVigenciaItemCadastro" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for="fimVigenciaItemCadastro" class="plr-bold" title="Fim Vigência">Fim da Vigência:</label>
                                            <input type="text" id="fimVigenciaItemCadastro" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"  maxlength="32" class="form-control"/>
                                        </div>
                                 </div>
                                 
                                 <div class="row" style="margin-top : 5px">
                                    <div class="form-group col-md-3">
                                        <label class="plr-bold" for="cargoItemCadastro" title="Cargo">Cargo: </label>
                                        <input type="text" id="cargoItemCadastro" style="font-size: 14px;" maxlength="8" class="form-control" placeholder="Cargo" readonly/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="plr-bold" for="diretoriaItemCadastro" title="Diretoria">Diretoria: </label>
                                        <input type="text" id="diretoriaItemCadastro" style="font-size: 14px;" maxlength="8" class="form-control" placeholder="Diretoria" readonly/>
                                    </div>
                                    
                                    <div class="form-group col-md-3">
                                        <label class="plr-bold" for="timeItemCadastro" title="Time">Time: </label>
                                        <input type="text" id="timeItemCadastro" style="font-size: 14px;" maxlength="64" class="form-control" placeholder="Time" readonly/>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="plr-bold" for="filialItemCadastro" title="Filial">Filial: </label>
                                        <input type="text" id="filialItemCadastro" style="font-size: 14px;" maxlength="64" class="form-control" placeholder="Filial" readonly/>
                                    </div>
                                 </div>
                                 
                                <div id="divExtraPesquisaColaboradorSimples" hidden>
                                    <hr>
                                    <label class="plr-bold" for="pesquisaSimplesColab" title="Pesquisar Colaborador">Pesquisar Colaborador: </label>
                                    <div class="row">
                                       <div class="form-group col-md-2">
                                           <a type="button" id="btnPesquisaSimplesColaborador" class="btn btn-sm mt-1" title="Pesquisar Colaborador" 
                                                   onclick="itemMetasController.pesquisarColaboradorSimples()">
                                               <i class="fas fa-search plr-search-button"></i>
                                           </a>
                                           <a type="button" id="btnLimpaPesquisaSimplesColaborador" class="btn btn-sm mt-1 plr-search-broom ml-2" title="Limpar Filtro" 
                                                    onclick="itemMetasController.limparPesquisaItemMetaSimples()">
                                               <i class="fas fa-eraser"></i>
                                           </a>
                                       </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div id="jsGridMiniPesquisaColaborador"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>

                        <div class="tab-pane fade" id="dadosFolhaMetaItem" role="tabpanel" aria-labelledby="folhaMetaItemtab">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label class="plr-bold" for="jsGridCadastroItensMeta" title="Itens">Itens: </label>
                                            <div id="jsGridCadastroItensMeta" style="zoom : 85% !important;"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioAvaliacao" title="Somatório de Avaliação">Σ Avaliação: </label>
                                            <input type="text" id="somatorioAvaliacao" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioGatilho" title="Somatório do Gatilho">Σ Gatilho: </label>
                                            <input type="text" id="somatorioGatilho" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioCorporativa" title="Somatório do Corporativo">Σ Corporativa: </label>
                                            <input type="text" id="somatorioCorporativa" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioProjetos" title="Somatório do Projetos">Σ Projetos: </label>
                                            <input type="text" id="somatorioProjetos" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioQuantitativa" title="Somatório Quantitativas">Σ Quantitativa: </label>
                                            <input type="text" id="somatorioQuantitativa" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioTime" title="Somatório Time">Σ Time: </label>
                                            <input type="text" id="somatorioTime" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioExtras" title="Somatório Extras">Σ Extras: </label>
                                            <input type="text" id="somatorioExtras" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <label class="plr-bold" for="somatorioPeso" title="Somatório do Peso">Σ Peso: </label>
                                            <input type="text" id="somatorioPeso" style="font-weight: bold;" maxlength="64" class="form-control" readonly/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="tab-pane fade" id="dadosMetaMensalDetalhes" role="tabpanel" aria-labelledby="metaMensalDetalheTab">
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="plr-bold" for="jsGridCadastroItensMeta" title="Itens">Acompanhamento Mensal: </label>
                                    <div style="overflow : auto;">
                                        <div id="jsGridMetaMensalDetalhes" style="zoom : 85% !important;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
        </div>
        
        <div class="modal-footer" style="bottom : 0;">
            <div id="salvarCadastroItemMetaArea" class="form-group col-md-auto">
                <input type="button" value="Salvar" id="salvarCadastroItemMeta" title="Salvar"  class="btn btn-sm btn-success" onclick="itemMetasController.salvarItemMeta()" />
            </div>
            <div id="aprovarCadastroItemMetaArea" class="form-group col-md-auto">
                <input type="button" value="Aprovar" id="aprovarCadastroItemMeta" title="Aprovar"  class="btn btn-sm btn-primary" style="margin-left : -18px;" onclick="itemMetasController.aprovarItemMeta()" />
            </div>
            <div id="baixarFolhaMetaArea" class="form-group col-md-auto">
                <input type="button" value="Baixar" id="baixarFolhaMetaBtn" 
                       title="Baixar Folha de Meta"  class="btn btn-sm btn-info" style="margin-left : -18px; background-color : #565756;" 
                       onclick="itemMetasController.exportFolhaMeta()" />
            </div>
            <div class="form-group col-md-auto">
                    <input type="button" value="Voltar" id="voltarCadastroItemMeta" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" onclick="itemMetasController.cancelarCadastroItemMeta()" />
            </div>
        </div>  
    </div> <!--Cadastro Item de Meta -->

    <div id="modalCopiaMetasMensais" title="Cópia de Metas">  <!-- Copia de Metas -->
        <div class="container-fluid" style="margin-top: 0;">
               
            <div class="row" style="margin-top: 5px;">
                <div class="form-group col-md-12">
                    <label for="copiaMetaMensalPlan" class="plr-bold" title="Copie os valores da Meta abaixo">Valores Planejado: </label>
                    <input id="copiaMetaMensalPlan" type="text" class="form-control" style="font-size: 14px;" onchange="metaMensalController.salvarCopiaMetasMensaisPlan()" />                      
                </div>
            </div>
            <div class="row" style="margin-top: 5px;">
                <div class="form-group col-md-12">
                    <label for="copiaMetaMensalReal" class="plr-bold" title="Copie os valores da Meta abaixo">Valores Real: </label>
                    <input id="copiaMetaMensalReal" type="text" class="form-control" style="font-size: 14px;" onchange="metaMensalController.salvarCopiaMetasMensaisReal()"/>                      
                </div>
            </div>


            <div class="modal-footer" style="bottom : 0;">
                <div class="form-group col-md-auto">
                    <input type="button" value="Salvar" id="confirmarCopiaValores" title="Salvar"  class="btn btn-sm btn-success" 
                           onclick="metaMensalController.salvarCopiaMetasMentais()" />
                </div>
                <div class="form-group col-md-auto">
                    <input type="button" value="Voltar" id="voltarCopiaValores" title="Voltar" class="btn btn-sm btn-info" style="margin-left : -18px;" 
                           onclick="metaMensalController.closeCopiarMetasMensais()" />
                </div>
            </div>

        </div>  
    </div><!-- Copia de Metas -->

    <div class="modalLoading">
		<h5 style="text-align: center;vertical-align: middle; margin-top: 23%; font-weight: bold;">Processando a solicitação...</h5>
    </div>
</body>
</html>
